<div class="card">
    <h2>Your Weekly Performance</h2>
    <div class="parent">
        <div class="child01">
            <div class="calories">
                <h1>{{totalCaloriesBurned}}</h1>
                <h6>Total Calories Burned</h6>
            </div>

            <div class="time">
                <h1>800</h1>
                <h6>Total Hours</h6>
            </div>

        </div>

        <div class="child02">
            <h3>Cycling</h3>
            <h6>Your Most Exercise Setup this Week</h6>

            <h3>Monday</h3>
            <h6>Your Exercise Longest Day</h6>

            <h3>{{aveCaloriesBurned}}</h3>
            <h6>Highest Calories Burned</h6>
        </div>
    </div>
</div>
